@{
    ViewBag.Title = "Mybrary";
}

<h1>Hello <span data-bind="text: name"></span>!</h1>

@section Scripts{
    <script>
        function ViewModel() {
            var self = this;
            self.name = "Shawn";
        }

        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);
    </script>
    
    }